body{
    background: url("https://media.giphy.com/media/12YpJx9jXOiKk/giphy.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

/* 
snow
http://giphygifs.s3.amazonaws.com/media/FoVi0LDjy1XS8/giphy.gif
 */

/* night
 https://media.giphy.com/media/YNk9HRcH9zJfi/giphy.gif */


 /* storm
 http://giphygifs.s3.amazonaws.com/media/EVf8tbnlr77Es/giphy.gif */


 /* sun
 https://media.giphy.com/media/l378xGKOFPkHM2Vxe/giphy.gif */