
.form {
    margin: 20px;
    text-align: center;
    z-index: 99;
    align-items: center;
}

.form input {
    top: 25vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: inline-block;
    color: black;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: calc(150px + 25 * (100vw - 320px) / 800);
    text-align: center;
    border-radius: 2px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    position: relative;
    left: 6vw;
    font-size: calc(20px + 14 * (100vw - 320px) / 800);
    z-index: 99;
    align-items: center;
}

.btn {
    background-color: #4CAF50; 
    border-style: solid;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    position: relative;
    top: 25vh;
    left: 30%;
    width: 200px;
    z-index: 99;
    -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.25);
}
.btnSignUp{
    background-color: #4CAF50; 
    border-style: solid;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    position: relative;
    top: 25vh;
    left: 30%;
    width: 200px;
    z-index: 99;
    -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.25);
  align-items: center;
}
.signup {
    top: 27vh;
    position: relative;
    left: 5vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: #ffffff;
    font-weight: 900;
    font-size: calc(30px + 18 * (100vw - 320px) / 800);
    z-index: 99;
    align-items: center;

}
.register{
    position: relative;
    top: 180px;
    left: 5vw;
    width: 90vw;
    color: #ffffff;
    z-index: 99;
    align-items: center;
}
.backgroundBox{
    width: 90vw;
    height: 35vh;
    position: relative;
    background:whitesmoke;
    overflow: hidden;
    opacity: .3;
    left: 6vw;
    bottom: 23vh;
    border-radius: 5px;
    align-items: center;
}
.backgroundBox2{
    width: 90vw;
    height: 13vh;
    position: relative;
    background: whitesmoke;
    overflow: hidden;
    opacity: .3;
    left: 6vw;
    bottom: 20vh;
    border-radius: 5px;
    align-items: center;
}