body{
  width: 90vw;
}
.settings1 {

    color: white;
    position: absolute;
    top: 150px;
    left: 42px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70%;
    overflow: auto;
    z-index: 2;

}

input[type=text] {

    width: 80%;
    padding: 12px 20px;
    margin: 15px 15px;
    box-sizing: border-box;
    border-style: solid;
    border-width: 2px;
    border-color: lightblue;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;


  }

  input[type=text]:hover {

    width: 80%;
    padding: 12px 20px;
    margin: 15px 15px;
    box-sizing: border-box;
    border-style: solid;
    border-width: 2px;
    border-color: yellow;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;


  }

  .updatePassword, .newContact {
      width: 90%;
      padding: 2px 2px;
      margin: 8px 0;
      box-sizing: border-box;
      border-style: solid;
      border-width: 2px;
      border-color: lightblue;
      font-size: small;
      text-align: center;

  }

.btn1 {
    background-color: #4CAF50; /* Green */
    border-style: solid;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: relative;
    left: 22vw;
    margin: 3% 3%;
    -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.25);
  }

  .addNewContact {

    margin: 2px 2px;
  }

  /* @media print {
    .passWordUpdate {page-break-after: always;}
  } */