.timerBox{
    border: 1px solid red;
    width: 75%;
    height: 10vh;
    position: relative;
    top: 150px;
    left: 19%;
    margin: 0;
    background-color: whitesmoke;
    opacity: .8;
   text-align: center;
}