.mainForm{
    position: absolute;
    left: 3vw;
    top: 15vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: #ffffff;
    z-index: 2;
    height: 73%;
    overflow: auto;
    
}
.background{
    width: 90vw;
    height: 72vh;
    position: relative;
    background: rgb(131, 128, 128);
    overflow: hidden;
    opacity: .5;
    left: 6vw;
    top: 17vh;
    border-radius: 5px;  
    z-index: 1;
}

.email{
  border-color:lightblue;
  border-style: solid;
    width: 80%;
    height: 4vh;
    border-radius: 3px;
    -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
      0 10px 10px rgba(0, 0, 0, 0.22);
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
   }
.firstName{
    width: 65vw;
    height: 4vh;
    border-radius: 3px;
    -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
      0 10px 10px rgba(0, 0, 0, 0.22);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.25);
}
.lastName{
    width: 65vw;
    height: 4vh;
    border-radius: 3px;
    -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
      0 10px 10px rgba(0, 0, 0, 0.22);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.25);
}
.password{
  border-color:lightblue;
  border-style: solid;
    width: 80%;
    height: 4vh;
    border-radius: 3px;
    -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
      0 10px 10px rgba(0, 0, 0, 0.22);
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
   }
.contactFirst{
    width: 65vw;
    height: 4vh;
    border-radius: 3px;
    -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
      0 10px 10px rgba(0, 0, 0, 0.22);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.25);
}
.contactLast{
    width: 65vw;
    height: 4vh;
    border-radius: 3px;
    -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
      0 10px 10px rgba(0, 0, 0, 0.22);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.25);
}
.contactPhone{
  border-color:lightblue;
  border-style: solid;
    width: 80%;
  height: 4vh;
  border-radius: 3px;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  }
.pin{
  border-color:lightblue;
  border-style: solid;
    width: 80%;
    height: 4vh;
    border-radius: 3px;
    -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
      0 10px 10px rgba(0, 0, 0, 0.22);
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
   }

.button {
  background-color: #4CAF50; /* Green */
  border-style: solid;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 265px;
  height: 55px;
  position: relative;
  right: 0vw;
  top: 3vh;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
  0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.25);
}

