.start{
    position: relative;
    left: 20vw;
    top: 245px;
    height: 250px;
    width: 250px;
    background-color: #4CAF50; /* Green */
    border-style: solid;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 55px;
    -webkit-box-shadow: 0 14px 28px rgba(207, 202, 202, 0.25),
    0 10px 10px rgba(192, 185, 185, 0.25);
    box-shadow: 0 14px 28px rgba(196, 190, 190, 0.3), 0 10px 10px rgba(165, 162, 162, 0.25);

}


